## Build outputs
bin/
obj/

## User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

## IDE local settings
.vs/
.vscode/

## Logs
*.log

## Secrets and environment
*.env
appsettings.Development.json

## ASP.NET static asset artifacts
**/wwwroot/lib/

## NuGet
*.nupkg
*.snupkg
packages/

## Others
**/GeneratedMSBuildEditorConfig.editorconfig
*.cache
*.tmp
*.ide

