@page
@model GroupProject.Pages.Account.LogoutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Đăng xuất</title>
    <meta http-equiv="refresh" content="0;url='@Url.Page("/Account/Login")'" />
</head>
<body>
    <p>Đang đăng xuất...</p>
</body>
</html>

